# Summarizing & Computing Descriptive Statistics

Hi Guys, Welcome to [Tirendaz Academy](https://youtube.com/c/tirendazacademy) üòÄ
</br>
In this notebook, I'm going to show summarizing & computing descriptive statistics in Pandas.
</br>
Happy Learning üê±‚Äçüèç

In [12]:
import pandas as pd
import numpy as np

In [13]:
df=pd.DataFrame(
    [[2.4,np.nan],[6.3,-5.4],
     [np.nan,np.nan],[0.75,-1.3]],
    index=["a","b","c","d"],
    columns=["one","two"])
df

    one  two
a  2.40  NaN
b  6.30 -5.4
c   NaN  NaN
d  0.75 -1.3

In [14]:
df.sum() #sum of each column

one    9.45
two   -6.70
dtype: float64

In [15]:
df.sum(axis=1) #sum of each row

a    2.40
b    0.90
c    0.00
d   -0.55
dtype: float64

In [16]:
df.mean(axis=1) #mean of each row

a    2.400
b    0.450
c      NaN
d   -0.275
dtype: float64

In [17]:
df.mean(axis=1,skipna=False)   #mean of each row, but skipna=False, so that NaN values are not ignored later,between a number and Nan is Nan

a      NaN
b    0.450
c      NaN
d   -0.275
dtype: float64

In [18]:
df.idxmax()        #index of the maximum value in each column

one    b
two    d
dtype: object

In [19]:
df.idxmin()       #index of the minimum value in each column

one    d
two    b
dtype: object

In [20]:
df.cumsum()     #cumulative sum of each column (2.4+6.30=8.7+0.75=9.45) (-5.4-1.3=-6.7)

    one  two
a  2.40  NaN
b  8.70 -5.4
c   NaN  NaN
d  9.45 -6.7

In [21]:
df.describe()   #summary statistics of each column

         one       two
count  3.000  2.000000
mean   3.150 -3.350000
std    2.850  2.899138
min    0.750 -5.400000
25%    1.575 -4.375000
50%    2.400 -3.350000
75%    4.350 -2.325000
max    6.300 -1.300000

To find the correlation coefficient, let's first import the famous iris data set. You can download iris data set from https://archive.ics.uci.edu/ml/datasets/iris.

In [22]:
iris=pd.read_csv("DataSets/iris.data", 
                 sep=",",
                 header=None)

In [23]:
iris.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [24]:
iris.columns=['sepal_length','sepal_width',
             'petal_length','petal_width',
             'class']

In [25]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [26]:
iris["sepal_length"].corr(iris["sepal_width"])

np.float64(-0.10936924995064937)

In [28]:

numeric_columns = iris.select_dtypes(include=[float, int])

correlation_matrix = numeric_columns.corr()

print(correlation_matrix)
# iris.corr() Con el string de class no me deja hacer la correlaci√≥n

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      1.000000    -0.109369      0.871754     0.817954
sepal_width      -0.109369     1.000000     -0.420516    -0.356544
petal_length      0.871754    -0.420516      1.000000     0.962757
petal_width       0.817954    -0.356544      0.962757     1.000000

In [30]:
# Seleccionar solo las columnas num√©ricas
numeric_columns = iris.select_dtypes(include=[float, int])

# Calcular la covarianza entre las columnas num√©ricas
covariance_matrix = numeric_columns.cov()

print(covariance_matrix)
# iris.cov() #covariance matrix

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      0.685694    -0.039268      1.273682     0.516904
sepal_width      -0.039268     0.188004     -0.321713    -0.117981
petal_length      1.273682    -0.321713      3.113179     1.296387
petal_width       0.516904    -0.117981      1.296387     0.582414

In [32]:
# Seleccionar solo las columnas num√©ricas
numeric_columns = iris.select_dtypes(include=[float, int])

# Calcular la correlaci√≥n con la columna 'petal_length'
correlation_with_petal_length = numeric_columns.corrwith(iris['petal_length'])

print(correlation_with_petal_length)


# iris.corrwith(iris.petal_length) #correlation of all columns with petal_length

sepal_length    0.871754
sepal_width    -0.420516
petal_length    1.000000
petal_width     0.962757
dtype: float64

In [33]:
s=pd.Series(["b","b","b","b","c",
             "c","a","a","a"])
s

0    b
1    b
2    b
3    b
4    c
5    c
6    a
7    a
8    a
dtype: object

In [34]:
s.unique() #unique values

array(['b', 'c', 'a'], dtype=object)

In [35]:
s.value_counts() #count of each unique value

b    4
a    3
c    2
Name: count, dtype: int64

In [36]:
x=s.isin(["b","c"]) #boolean mask (los de a son falsos)
x

0     True
1     True
2     True
3     True
4     True
5     True
6    False
7    False
8    False
dtype: bool

In [37]:
s[x] #values that are in ["b","c"]

0    b
1    b
2    b
3    b
4    c
5    c
dtype: object

Don't forget to follow us on [YouTube](http://youtube.com/tirendazacademy) | [Medium](http://tirendazacademy.medium.com) | [Twitter](http://twitter.com/tirendazacademy) | [GitHub](http://github.com/tirendazacademy) | [Linkedin](https://www.linkedin.com/in/tirendaz-academy) | [Kaggle](https://www.kaggle.com/tirendazacademy) üòé